pnpm-debug.log*
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.devcontainer
.worktrees/

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

test-results/
playwright-report/
